@* ****** Lista de Reservas******** *@
@model IEnumerable<BDViajero.Modelo.Reservas>

@{
    ViewBag.Title ="Index" ;
}

<h2>Reservaciones</h2>
<p>    
    <a href="@Url.Action("Create", "Reservas")" class="btn btn-primary btn-sm">Nuevo</a>
</p>
<table class="table table-bordered table-striped">
    <tr>
        <th>
            Cédula
        </th>
        <th>
            Apellidos
        </th>
        <th>
            Nombres
        </th>
        <th>
            Destino
        </th>
        <th>
            Fecha de Reserva
        </th>

        <th>Funciones</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Viajeros.Cedula)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Viajeros.Apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Viajeros.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Destinos.Destino)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaReserva)
            </td>
            <td>
                <a href="@Url.Action("Edit", "Reservas", new {id = item.IdReserva})" class="btn btn-primary btn-sm">Editar</a>
                <a href="@Url.Action("Details", "Reservas", new {id = item.IdReserva})" class="btn btn-primary btn-sm">Detalles</a>
                <a href="@Url.Action("Delete", "Reservas", new {id = item.IdReserva})" class="btn btn-danger btn-sm">Borrar</a>
            </td>
        </tr>
    }

</table>
